/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation Bar */
nav {
    background-color: #45a049;
    color: #fff;
    padding: 10px 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

#resultados {
    margin-top: 40px;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultados h1 {
    text-align: center;
    color: #45a049;
}

#resultados p {
    font-size: 1.1em;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

thead {
    background-color: #45a049;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Back Link */
a {
    display: block;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
    color: #45a049;
}

a:hover {
    text-decoration: underline;
}
